<h2>Observations</h2>

<table border="0">
    <thead>
        <tr>
            <th>Observation id</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    <% @observations.each do |o| %>
        <tr>
            <td><%= o.observation_number %></td>
            <td>
                <%= link_to "More detail", o %> | 
                <%= link_to "Delete observation", o, :method => :delete %>
        </td>
        </tr>
    <% end %>
    </tbody>
</table>
