<h2>Observation <%= @observation.observation_number %></h2>

<p><%= link_to "Show measurements", observation_measurements_path(@observation) %></p>

<!-- data section -->
<div id=plot-images style="width:100%; height=20%;"></div>

<script>
var plot_data = <%= raw @observation.measurements.to_json %>;
</script>
