<h2>Actions</h2>

<table border="0">
    <thead>
        <tr>
            <th>Action</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <% @actions.each do |action| %>
            <tr>
                <td><%= action.action_id %></td>
                <td>
                    <%= link_to "View night", action.night %> | 
                    <%= link_to "View measurements", action_measurements_path(action) %>
            </td>
            </tr>
        <% end %>
    </tbody>
</table>

