<h2>Actions</h2>

<table border="0">
    <thead>
        <tr>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        <% @actions.each do |action| %>
            <tr>
                <td><%= action.action_id %></td>
            </tr>
        <% end %>
    </tbody>
</table>

